{% load static %}
{% block content %}
<nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/">
                <span class="align-middle">Finance Facile</span>
            </a>

            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Management
                </li>
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="/">
                        <i class="align-middle fa-solid fa-chart-line"></i>
                        <span class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="{% url 'entry-list' %}">
                        <i class="align-middle fa-solid fa-shop"></i>
                        <span class="align-middle">Total Look</span>
                    </a>
                </li>
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="{% url 'revenue-list' %}">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <span class="align-middle">Revenue</span>
                    </a>
                </li>
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="{% url 'charge-list' %}">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                        <span class="align-middle">Charges</span>
                    </a>
                </li>
                <li class="sidebar-item active">
                    <a class="sidebar-link" href="{% url 'category-list' %}">
                        <i class="fa-solid fa-list"></i>
                        <span class="align-middle">Categories</span>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    {% endblock content %}